{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static '/assets/vite.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgriInvest - Agricultural Investment Platform</title>
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script type="module" crossorigin src="{% static '/assets/index-CFs0--Bq.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static '/assets/index-3PeqwiyD.css' %}">
    <!-- <script type="module" crossorigin src="{% static '/assets/index-DzuNRuV2.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static '/assets/index-Dtn62Xmo.css' %}"> -->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
